@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400
.bg-container {
 background-image: url("https://user-images.githubusercontent.com/82379566/218939094-a6506c90-3726-401b-9dab-f3d7a595c28e.png");
}
.person-name {
 text-align: center;
 color: #ffffff;
 background-color: #323f4b;
 font-family: "Roboto";
 font-size: 20px;
 font-weight: 600;
 padding: 18px;
}
.messages-container {
 padding: 20px;
}
.message-text {
 color: #ffffff;
 font-family: "Roboto";
 font-size: 14px;
 padding: 14px;
}
.message-received {
 background-color: #52606d;
 border-top-left-radius: 8px;
 border-top-right-radius: 8px;
 border-bottom-right-radius: 8px;
  }
.message-sent {
 text-align: right;
 background-color: #47a3f3;
 border-top-left-radius: 8px;
 border-top-right-radius: 8px;
 border-bottom-left-radius: 8px;
}

